* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #1e1e1e;
  font-family: sans-serif;
  color: #a0a0a0;
  line-height: 1.6;
}

.main-container {
  display: grid;
  max-width: 1000px;
  grid-template-columns: 350px 1fr;
  gap: 40px;
  padding-top: 40px;
  margin: auto;
}

.sidebar{
    height: 90vh;
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px ;

}

.main-content{
    height: 90vh;
    background-color: #2a2a2a;
    border: 1px solid #3a3a3a;
    border-radius: 16px ;
}

.profile{
    text-align: center;
}

.profile img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 1px solid #3a3a3a;
    margin-top: 10px;
}

.profile h2{
    font-size: 1.5rem;
    margin-top: 20px;
    font-weight: 700;
    color: #e0e0e0 ;
}

.profile p{
    background-color: #1e1e1e;
    padding: 5px 15px;
    color: rgb(134, 127, 7);
    border: 1px solid #3a3a3a;
    display: inline-block;
    margin-top: 10px;
}
